@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab&display=swap');

/* header */

.header {
    background: #0000;
    display: flex;
    margin: auto;
}

.header .logo-container .logo {
    /* Style for "Golden" */
width: 79px;
height: 28px;
color: #fed136;
color: #ffffff;
font-family: "Wisdom - Script";
font-size: 26px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 41px;
text-align: left;
/* Text style for "G, olden" */
color: #fed136;
font-style: normal;
letter-spacing: 1.3px;
line-height: normal;

justify-content: flex-start;
}

.navigation {
    justify-content: flex-end;
}

.navigation .menu {
    text-align: right;
}

.navigation .menu li {
    display: inline-block;
    list-style-type: none;
    padding: 0 40px;
}

.header .navigation .menu a {
    text-transform: uppercase;
    text-decoration: none;
}


/* Home section */

.home .page-subtitle {
    /* Style for "Welcome To" */
width: 430px;
height: 32px;
color: #ffffff;
font-family: "Droid Serif";
font-size: 40px;
font-style: italic;
letter-spacing: normal;
line-height: normal;
text-align: center;
/* Text style for "W, elcome" */
font-style: normal;
letter-spacing: -1px;
line-height: normal;
}

.home .page-title {
    /* Style for "It’s nice" */
width: 844px;
height: 55px;
color: #ffffff;
font-family: Montserrat;
font-size: 75px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;
/* Text style for "It’s nice" */
font-style: normal;
letter-spacing: -1.88px;
line-height: normal;
}

.home .home-inner .btn {
    /* Style for "Tell Me Mo" */
width: 138px;
height: 14px;
color: #ffffff;
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;
/* Text style for "T, ell Me" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}





/* footer bottom */

.footer-bottom li {
    display: inline-block;
    list-style-type: none;
}