@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab&display=swap");
/* Global */
.body {
  margin: 0;
  font-size: 14px;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}

.section-subtitle {
  text-align: center;
  color: #777777;
}

.container {
  margin: auto;
}

/* start section */
.start-section {
  width: auto;
  height: 729px;
  background-image: url("../images/Background_Image.png");
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin: auto;
}

.header .logo-container .logo {
  /* Style for "Golden" */
  width: 79px;
  height: 28px;
  color: #fed136;
  color: #ffffff;
  font-family: "Wisdom - Script";
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 41px;
  text-align: left;
  /* Text style for "G, olden" */
  color: #fed136;
  font-style: normal;
  letter-spacing: 1.3px;
  line-height: normal;
}

.navigation {
  align-self: center;
  margin: auto;
}

.navigation .menu li {
  display: inline-block;
  padding: 0 1rem;
}

.header .navigation .menu a {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Home section */
.home {
  display: flex;
  height: inherit;
}

.home .home-inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.home .page-subtitle {
  width: 430px;
  height: 32px;
  font-family: "Droid Serif";
  font-size: 40px;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.home .page-title {
  /* Style for "It’s nice" */
  color: #ffffff;
  font-family: Montserrat;
  font-size: 75px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.home .home-inner .btn {
  color: #ffffff;
  background: #fed136;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px 51px;
}

/* Services */
.services {
  height: 568px;
  display: flex;
  flex-wrap: wrap;
}

.service-columns {
  display: flex;
}

.service-column {
  display: flex;
  flex: 0 0 33.3333%;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box {
  text-align: center;
}

/* portfolio */
.portfolio {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 0;
}

.row {
  display: flex;
  flex: 0 0 33.3333%;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  background: #ffffff;
  text-align: center;
  margin: 20px;
}

.col p {
  color: #737373;
  font-style: italic;
}

/* footer bottom */
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.footer-bottom li {
  display: inline;
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */